body {
	color: #333;
	font-family: "Verdana";
}

form {
	margin-top: 50px;
}

label:after {
	content: ":";
}

.register {
	margin-top: 50px;
	margin-left: 80px;
}

.success {
	margin-top: 200px;
	margin-left: 800px;
}